* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
:root{
  --black-color:#000;
  --white-color:#fff;
  --theme-background:#fff;
  --button-gradient:#fff;
  --background-img:rgb(236, 236, 236);
}
html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  user-select: none;
  font-family:math;
}

body {
  background: var(--background-img)
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  display: flex;
  justify-content: center;
  position: relative;
  /* gap: 1.5em; */
  padding: 1em 0em;
  padding-top: 2em;
  border: 2px solid red;
}

.container::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
  background-color: #4158D0;
  background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background: var(--background-img);
}    
.loading-home{
  width: 100%;
  height: 400px;
  margin: auto;
  inset:0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}       
.loading-home > img{
  width: 80%;
  height: 100%;
  animation: loadinghome 2s linear infinite;
}
@keyframes loadinghome{
  0%{
    transform: scale(.8);
    filter: brightness(3);
  }
  20%{
    transform: scale(.9);
    filter: sepia(1);
  }
  40%{
    transform: scale(1);
    filter: opacity(.7);
  }
  60%{
    transform: scale(.9);
    filter: contrast(.8);
  }
  80%{
    transform: scale(.8);
    filter: blur(100px);
  }
  100%{
    transform: scale(.7);
  }
}
.active {
  color: #fff !important;
  background-image:var(--button-gradient);
  filter: drop-shadow(7px 5px 8px grey);
  border-left: 5px solid rgb(111, 6, 191);
  padding-left: 3.5px !important;
  transition: all .5s!important;
  background-size: 200% auto;

}

.active:hover{
  background-position: right !important;
  transform: scale(1.01);
}

.play-reel {
  animation: play-reel .5s ease-in-out forwards;
}

.pause-reel {
  animation: pause-reel .5s ease-in-out forwards;
}

@keyframes play-reel {
  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes pause-reel {
  0% {
    transform: scale(0);
  }

  30% {
    transform: scale(1.1);
  }

  70% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

.cross {
  filter: invert(1);
  position: absolute;
  right: 15px;
  top: 15px;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.cross:hover {
  transform: scale(1.1);
}

.explorepopup {
  animation: popup .5s ease-in-out forwards;
}

.postloader {
  height: 370px;
  width: 570px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postloader>img {
  width: 30%;
  height: 30%;
}

.content-active {
  color: #fff !important;
  background: var(--button-gradient)!important;
  background-size: 200% auto!important;
  background-clip: unset!important;
}

.mb {
  margin-bottom: 1em;
}

.cross {
  position: absolute;
  filter: invert(1);
  right: 30px;
  top: 20px;
}

.storylogo {
  color: #000000;
  position: absolute;
  filter: invert(1);
  left: 15px;
  top: 15px;
  font-size: 1.5rem;
}

.arrow {
  position: absolute;
  top: 50%;
  z-index: 9999;
  cursor: pointer;
}

.left {
  left: 23%;
  transform: rotate(180deg);
  transition: all .2s ease-in-out;
}

.left:hover {
  transform: scale(1.1) rotate(180deg);
}

.right {
  right: 23%;
  transition: all .2s ease-in-out;
}

.right:hover {
  transform: scale(1.1);
}

.story-items-display {
  display: inline-block !important;
  margin: auto !important;
  transition: all .3s cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  animation: size .5s linear forwards;
  height: 100% !important;
  width: 30% !important;
}

.story-small-items-display {
  display: none !important;
}

@keyframes size {
  0% {
    transform: scale(0);
  }

  100% {
    height: 100% !important;
    width: 325px !important;
  }
}

.up {
  transform: translateY(20px);
}

.userspanactive {
  color: var(--white-color) !important;
}

.userliactive {
  border-top: 3px solid var(--white-color);
  padding-top: 13.5px!important;
}
.rightbarliactive{
  border-bottom: 2px solid var(--white-color);
  border-radius: .4em;
  padding-bottom: 2px;
  animation: rightbar .5s linear infinite;
}
/* @keyframes rightbar{
  0%{
   border-bottom-width: 1px;
   border-block-start: 1px;
  } 
  100%{
   border-bottom-width: 2px;
  }
 } */
.userProfileImg{
 filter: invert(1);
}
.counter {
  font-size: 1rem !important;
  color: #000;
  font-weight: 500;
  -webkit-text-stroke: 0px !important;
  position: absolute;
  bottom: -25px;
  left: 90px;
}

.counter > span {
  font-size: 1rem !important;
  color: #000;
  font-weight: 500;
  -webkit-text-stroke: 0px !important;
}

.loading-story {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1.5px solid rgba(111, 6, 191, 0.428);
  height: 10em;
  min-width: 111px;
  border-radius: .8em;
}
.loading-story > img{
  filter: hue-rotate(45deg) drop-shadow(2px -1px 6px black);
}
.font-active{
  background-color: rgb(183, 0, 255)!important;
}
.circle-active{
  border: 2.5px solid #fff;
}

.explorePlay{
  position: absolute;
  height:40px!important;
  width: 40px!important;
  left: 50%;
  top: 50%;
  filter:  blur(30px) invert(1);
  animation: blurPlay .5s ease-in-out forwards;
  pointer-events: none;
  cursor: pointer;
}
@keyframes blurPlay{
0%{
  transform: scale(4);
  filter: blur(20px) invert(1);
}
100%{
  transform: scale(1);
  filter:blur(0px) invert(1);
}
}

.message-active{
  background-color: rgba(38, 38, 38, 0.384)!important;
}

.send{
  color:red;
}
.receiver{
  color:blue;
}

@media(width < 1200px){
  .storylogo{
    display: none;
  }  
}
@media(width < 1024px){
  .active{
    padding-left: 0px!important;
  }
}

@media(width < 980px){
  .container{
   padding: 0em 1em;
   justify-content: end;
  }
}

@media(width < 768px){
 .container{
  justify-content: center;
 }
 .storycross{
  right: .5em;
 }
 .active{
  border-left: none;
  border-top: 5px solid;
  border-image-source: var(--button-gradient);
  border-image-slice: 1;
  border-radius: .5em;
 }
}
@media(width < 570px){
  .storycross{
    left: 0;
    right: auto;
    transform: scale(.7);
    z-index: 99999;
  }
}
.divright{
  display: none;
}
.divleft{
  display: none;
}
.userloader{
  filter: hue-rotate(45deg) drop-shadow(2px -1px 10px #00000094);
}
.postvideoloading{
  filter: hue-rotate(45deg) drop-shadow(2px -1px 10px #00000094);
}
@media(width < 400px){
  .left{
    display: none;
  }
  .divright{
    height: 100%;
    width: 40%;
    left: 0;
    top: 0;
    display: block!important;
  }
  .divleft{
    height: 100%;
    width: 40%;
    right: 0;
    left: auto;
    top: 0;
    display: block!important;
  }
  .right{
    display: none;
  }
}


@media(width < 500px){
  html{
    /* font-size: 150%; */
    line-height: 15px;
  }
  .posticons{
    transform: scale(.8)!important;
  }
}
/* @media(width< 400px){
  html{
    font-size: 80%!important;
  }
} */