$mobo:768px;
@mixin media($breakpoint){
    @media(width < $breakpoint){
        @content;
    }
}

.reelspost {
    scroll-behavior: auto;
    display: flex;
    justify-content: center;
    .reelsinfo {
        max-width: 500px;
        position: relative;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-bottom: .5em;

        .reelsdescription {
            width: 51%;
            position: absolute;
            bottom: 0;
            left: 18px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1em;
            padding: .5em;

            img {
                filter: invert(1);
                border-radius: 50%;
            }
            span{
                color:#fff;
            }
            .caption {
                cursor: pointer;
                position: relative;
            }

            .music {
                display: flex;
                align-items: center;

                img {
                    margin: 0em .3em;
                    margin-left: 0px;

                }

                .musiccontainer {
                    span {
                        display: flex;
                        align-items: center;
                        gap: .2em;
                        font-size: .85rem;
                        letter-spacing: .3px;
                    }
                }
            }
        }

        .buttons {
            position: absolute;
            top: 30px;
            right: 30px;

            img {
                filter: invert(1);
                border: 1px solid transparent;
                padding: .2em;
                border-radius: 50%;
                background: #3e3e3e61;
                cursor: pointer;
            }
        }

        .play {
            transform: scale(1);
            filter: invert(1);
            position: absolute;
            top: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1.5em;
            border-radius: 50%;
            background-color: #ffffffbd !important;
            cursor: pointer;
        }
    }

    .videocont {
        height: 550px;
        width: 310px;
        background: #000;
        border-radius: .4em;

        video {
            width: fit-content;
            height: 100%;
            border-radius: .4em;
            height: 550px;
            width: 310px;
            cursor: pointer;
        }
    }

    .reaction {
        position: absolute;
        top: -240px;
        right: -120px;
        display: flex;
        flex-direction: column;
        height: 300px;
        align-items: center;
        overflow: hidden;
        padding-right: -15px;
        justify-content: space-between;

        .reels {
            transition: all .3s ease-in-out;
           img{
            filter: brightness(2);
           }
            &:hover {
                transform: scale(1.1);
            }
        }

        .like {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.3em;

            span {
                font-size: .75em;
                color: #ffffffe4;
            }
        }

        .comment {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.3em;

            span {
                font-size: .75rem;
                color: #ffffffe4;
            }
        }

    }
}

.reels-container {
    height: 100%;
    padding-top: 2em;
    padding-left: 1em;
    width: 100%;
    display: flex;
    border: 3px solid grey;

    @include media($mobo){
        padding: 0;
    }

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 650px;        
        background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
        background: var(--background-img);
    }
}

.reels-sub-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 16em;    
    border: 3px solid var(--black-color);
    border-radius: .5em;
    z-index: 9;
    padding-top: 1em;

    @include media(1024px){
        margin-inline: auto;
    }
    @include media($mobo){
        margin-inline: auto;
        width: 100%;
        padding-inline: 1em;        
    }
    @include media(350px){
        border: none;
    }
}