.rightbar {
    border: 1px solid #fff;
    color: var(--black-color);
    border-radius: .6em;
    width: 23%;
    display: flex;
    flex-direction: column;
    gap: .7em;
    position: fixed;
    right:1em;

    @media(width < 1024px){
        display: none;
    }

    .top{
        background: var(--theme-background);
        border-radius: .5em;
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: .5em 0em;
        .searchsec {
        display: flex;
        gap: .5em;
        align-items: center;
        padding: .5em .6em;
        border-radius: 1.3em;
        margin: 0em .6em;
        background: rgba(211, 211, 211, 0.328);

        img {}

        input {
            outline: none;
            background: transparent;
            border: none;
            color: var(--black-color);
            font-weight: 500;

            &::placeholder {
                color: grey;
                font-weight: 500;
                font-size: .88rem;
                letter-spacing: .2px;
            }
        }
    }

    .categories {
        width: 100%;
        border-radius: .5em;
        .category {
            display: flex;
            justify-content: space-between;
            margin:0;
            padding: 0em .5em;
            li {
                list-style: none;
                font-weight: 600;
                justify-content: space-around;
                letter-spacing: .5px;
                cursor: pointer;
            }
        }

        .users {
            display: flex;
            flex-direction: column;
            background: var(--theme-background);
            padding: .5em 0;
            .user {
                transition: all .4s;
                display: flex;
                align-items: center;
                gap: .6em;
                padding: .5em .6em;
                cursor: pointer;

                div {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    border-radius: 50%;
                }

                span {
                    color: var(--black-color);
                    font-weight: 600;
                    font-size: .89rem;
                }

                span:last-child {
                    color: #808080;
                    font-weight: 600;
                    font-size: .7rem;
                }
                &:hover{
                 background-color: rgba(211, 211, 211, 0.328);
                }
            }
        }
    }

}
    .requests {
        display: flex;
        flex-direction: column;
        gap: .5em;
        padding: 0em .5em;
        .req {
            padding: .7em;
            display: flex;
            flex-direction: column;
            gap: .7em;
            background: var(--theme-background);
            border-radius: .5em;
            .user {
                display: flex;
                align-items: center;
                gap: .6em;

                div {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    border-radius: 50%;
                }

                span {
                    color: var(--black-color);
                    font-weight: 600;
                    font-size: .89rem;
                }

                span:last-child {
                    color: #808080;
                    font-weight: 600;
                    font-size: .7rem;
                }
            }

            .choice {
                display: flex;
                gap: .7em;
                button:first-child {
                    color: #fff;
                    background: var(--button-gradient);
                    font-weight: 600;
                    font-size: .9rem;
                    padding: .55em 1.8em;
                    border-radius: 3em;
                    letter-spacing: .5px;
                    border: none;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover{
                        transform: scale(1.03);
                    }
                }
                button:last-child {
                    color: #fff;
                    background: rgba(211, 211, 211, 0.622);
                    font-weight: 600;
                    font-size: .9rem;
                    padding: .55em 1.8em;
                    border-radius: 3em;
                    letter-spacing: .5px;
                    border: none;
                    cursor: pointer;
                    transition: .3s ease-in-out;
                    &:hover{
                        transform: scale(1.03);
                    }
                }
            }
        }
    }
}